@import url("https://fonts.googleapis.com/css?family=Amatic SC");
body {
  margin: 0;
  padding: 0;
  background: #2c3e50;
}

* {
  font-family: Amatic SC;
  text-align: center;
}

header {
  color: #f39c12;
  font-size: 3em;
  margin-top: 15vh;
}

#quoteBox {
  background: #ffe;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  border-radius: 20px;
}

#quoteText {
  font-size: 2.0em;
}

#author {
  font-style: italic;
  font-size: 1.6em;
}

footer {
  color: #f39c12;
  margin-top: 5vh;
  font-size: 1.2em;
}

i {
  color: #fff;
}

#name {
  /*color: #fff;*/
}

#heart {
  color: #f00;
}

.head-icon{
  padding: 10px;
}